{
  "openapi": "3.1.0",
  "info": {
    "title": "55 Tech Scraping API",
    "description": "Distributed fetch network. Route HTTP, browser, WebSocket, and AMQP requests through 80+ geo-distributed agents with health-aware routing and block detection.",
    "version": "2.2.0",
    "contact": {
      "name": "55 Tech Support",
      "email": "contact@55-tech.com"
    }
  },
  "servers": [
    {
      "url": "https://scraping-api.55-tech.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "summary": "Health check",
        "description": "Liveness probe. Returns {\"ok\": true}.",
        "tags": ["System"],
        "security": [],
        "responses": {
          "200": {
            "description": "Healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthzResponse" }
              }
            }
          }
        }
      }
    },
    "/fetch": {
      "get": {
        "operationId": "fetch_get",
        "summary": "Fetch a URL (GET)",
        "description": "Send a GET request to the target URL through the agent network. Pass the target URL via the X-Target-URL header.",
        "tags": ["Fetch"],
        "parameters": [
          { "$ref": "#/components/parameters/XTargetURL" },
          { "$ref": "#/components/parameters/XGeo" },
          { "$ref": "#/components/parameters/XExpectJSON" },
          { "$ref": "#/components/parameters/XAgent" },
          { "$ref": "#/components/parameters/XTimeout" }
        ],
        "responses": {
          "200": {
            "description": "Proxied response from origin.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FetchResponse" }
              }
            }
          },
          "401": {
            "description": "Missing API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "403": {
            "description": "Invalid API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "headers": {
              "Retry-After": { "schema": { "type": "string" }, "description": "Seconds to wait." },
              "X-RateLimit-Limit": { "schema": { "type": "string" }, "description": "Allowed RPS." },
              "X-RateLimit-Remaining": { "schema": { "type": "string" }, "description": "Remaining tokens." }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "502": {
            "description": "No healthy agent available.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "504": {
            "description": "Agent timeout.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "fetch_post",
        "summary": "Fetch a URL (POST)",
        "description": "Send a request to the target URL through the agent network. Pass the target URL via the X-Target-URL header. Optionally include a JSON body with method, headers, body, timeout, and allow_redirects fields.",
        "tags": ["Fetch"],
        "parameters": [
          { "$ref": "#/components/parameters/XTargetURL" },
          { "$ref": "#/components/parameters/XGeo" },
          { "$ref": "#/components/parameters/XExpectJSON" },
          { "$ref": "#/components/parameters/XAgent" },
          { "$ref": "#/components/parameters/XTimeout" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FetchPostBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proxied response from origin.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FetchResponse" }
              }
            }
          },
          "401": { "description": "Missing API key." },
          "403": { "description": "Invalid API key." },
          "429": { "description": "Rate limit exceeded." },
          "502": { "description": "No healthy agent available." },
          "504": { "description": "Agent timeout." }
        }
      },
      "put": {
        "operationId": "fetch_put",
        "summary": "Fetch a URL (PUT)",
        "description": "Send a PUT request to the target URL through the agent network.",
        "tags": ["Fetch"],
        "parameters": [
          { "$ref": "#/components/parameters/XTargetURL" },
          { "$ref": "#/components/parameters/XGeo" },
          { "$ref": "#/components/parameters/XAgent" },
          { "$ref": "#/components/parameters/XTimeout" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FetchPostBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proxied response from origin.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FetchResponse" }
              }
            }
          },
          "401": { "description": "Missing API key." },
          "403": { "description": "Invalid API key." },
          "429": { "description": "Rate limit exceeded." }
        }
      },
      "patch": {
        "operationId": "fetch_patch",
        "summary": "Fetch a URL (PATCH)",
        "description": "Send a PATCH request to the target URL through the agent network.",
        "tags": ["Fetch"],
        "parameters": [
          { "$ref": "#/components/parameters/XTargetURL" },
          { "$ref": "#/components/parameters/XGeo" },
          { "$ref": "#/components/parameters/XAgent" },
          { "$ref": "#/components/parameters/XTimeout" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FetchPostBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proxied response from origin.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FetchResponse" }
              }
            }
          },
          "401": { "description": "Missing API key." },
          "403": { "description": "Invalid API key." },
          "429": { "description": "Rate limit exceeded." }
        }
      },
      "delete": {
        "operationId": "fetch_delete",
        "summary": "Fetch a URL (DELETE)",
        "description": "Send a DELETE request to the target URL through the agent network.",
        "tags": ["Fetch"],
        "parameters": [
          { "$ref": "#/components/parameters/XTargetURL" },
          { "$ref": "#/components/parameters/XGeo" },
          { "$ref": "#/components/parameters/XAgent" },
          { "$ref": "#/components/parameters/XTimeout" }
        ],
        "responses": {
          "200": {
            "description": "Proxied response from origin.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FetchResponse" }
              }
            }
          },
          "401": { "description": "Missing API key." },
          "403": { "description": "Invalid API key." },
          "429": { "description": "Rate limit exceeded." }
        }
      }
    },
    "/browser": {
      "get": {
        "operationId": "browser_fetch",
        "summary": "Fetch with JavaScript rendering",
        "description": "Fetch a URL with full JavaScript rendering. Works just like /fetch — all parameters via headers.\n\nUse this instead of /fetch when the target requires JavaScript to load content.\n\nIf X-Expect-Selector or X-Expect-Contains is set and the page doesn't match, the API retries on a different node.",
        "tags": ["Browser"],
        "parameters": [
          { "$ref": "#/components/parameters/XTargetURL" },
          {
            "name": "X-Wait-Strategy",
            "in": "header",
            "description": "When the page is ready: load (DOMContentLoaded), networkidle (no pending requests), or selector (wait for CSS selector).",
            "schema": { "type": "string", "enum": ["load", "networkidle", "selector"], "default": "load" }
          },
          {
            "name": "X-Wait-Selector",
            "in": "header",
            "description": "CSS selector to wait for (only with X-Wait-Strategy: selector).",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Screenshot",
            "in": "header",
            "description": "Capture a full-page PNG screenshot. Set to 1 or true.",
            "schema": { "type": "string" }
          },
          {
            "name": "X-JS-Expression",
            "in": "header",
            "description": "JavaScript to evaluate after the page is ready. Result returned in js_result.",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Expect-Selector",
            "in": "header",
            "description": "CSS selector that must exist in the rendered page. Retries on a different node if missing.",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Expect-Contains",
            "in": "header",
            "description": "Substring that must exist in the page body. Retries on a different node if missing.",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Proxy",
            "in": "header",
            "description": "Route through a proxy (http:// or socks5://).",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Block-Resources",
            "in": "header",
            "description": "Comma-separated resource types to block: image, font, stylesheet, media. No default for /browser.",
            "schema": { "type": "string" }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "Cookies to inject before navigation (standard format: name=value; name2=value2).",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Cookies",
            "in": "header",
            "description": "Cookies as JSON array for full control: [{\"name\":\"s\",\"value\":\"v\",\"domain\":\".example.com\"}].",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/XGeo" },
          { "$ref": "#/components/parameters/XAgent" },
          { "$ref": "#/components/parameters/XTimeout" }
        ],
        "responses": {
          "200": {
            "description": "Rendered page with metadata, cookies, and optional screenshot.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BrowserFetchResponse" },
                "example": {
                  "meta": {
                    "status": 200,
                    "final_url": "https://example.com/",
                    "http_version": "",
                    "elapsed_ms": 3200,
                    "blocked": false,
                    "headers": { "content-type": "text/html; charset=utf-8" },
                    "agent": { "id": "scraping-de5" },
                    "bytes": 45210
                  },
                  "raw": "<!DOCTYPE html><html>...</html>",
                  "raw_json": null,
                  "cookies": [
                    {
                      "name": "session_id",
                      "value": "a1b2c3...",
                      "domain": ".example.com",
                      "path": "/",
                      "secure": true,
                      "httpOnly": true,
                      "sameSite": "Lax",
                      "expires": 1735689600
                    }
                  ],
                  "screenshot": null,
                  "js_result": null
                }
              }
            }
          },
          "401": { "description": "Missing API key." },
          "403": { "description": "Invalid API key." },
          "429": { "description": "Rate limit exceeded." },
          "502": { "description": "No healthy agent available, or browser/validation error." },
          "504": { "description": "Browser timeout." }
        }
      }
    },
    "/browser/stream": {
      "get": {
        "operationId": "browser_stream",
        "summary": "Live browser session with event streaming (SSE)",
        "description": "Open a browser, navigate to the target URL, and stream back events in real-time via Server-Sent Events. Only captures XHR/Fetch API responses and WebSocket frames — HTML documents and scripts are filtered out. No resources are blocked by default so pages load fully. Default wait strategy is networkidle. All data is gzip-compressed.\n\nThe session runs until the client disconnects (24h safety cap). Set X-Timeout to limit the duration.",
        "tags": ["Browser"],
        "parameters": [
          { "$ref": "#/components/parameters/XTargetURL" },
          {
            "name": "X-Capture",
            "in": "header",
            "description": "Comma-separated event types to stream: network, ws, dom, console.",
            "schema": { "type": "string", "default": "network,ws,console" }
          },
          {
            "name": "X-DOM-Selector",
            "in": "header",
            "description": "CSS selector to watch for DOM mutations (requires dom in X-Capture).",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Network-Filter",
            "in": "header",
            "description": "Regex filter for network URLs. Only matching responses are streamed.",
            "schema": { "type": "string" }
          },
          {
            "name": "X-WS-Filter",
            "in": "header",
            "description": "Regex filter for WebSocket URLs. Only matching connections are streamed.",
            "schema": { "type": "string" }
          },
          {
            "name": "X-JS-After-Load",
            "in": "header",
            "description": "JavaScript to execute after page load (e.g. click a button, trigger navigation).",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Wait-Strategy",
            "in": "header",
            "description": "When the page is ready before streaming starts: load, networkidle, or selector.",
            "schema": { "type": "string", "default": "networkidle" }
          },
          {
            "name": "X-Wait-Selector",
            "in": "header",
            "description": "CSS selector to wait for (with X-Wait-Strategy: selector).",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Proxy",
            "in": "header",
            "description": "Route through a proxy (http:// or socks5://).",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Block-Resources",
            "in": "header",
            "description": "Comma-separated resource types to block: image, font, stylesheet, media. No default blocking — pages load fully.",
            "schema": { "type": "string" }
          },
          {
            "name": "Cookie",
            "in": "header",
            "description": "Cookies to inject (name=value; name2=value2).",
            "schema": { "type": "string" }
          },
          {
            "name": "X-Cookies",
            "in": "header",
            "description": "Cookies as JSON array for full control.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/XGeo" },
          { "$ref": "#/components/parameters/XAgent" },
          { "$ref": "#/components/parameters/XTimeout" }
        ],
        "responses": {
          "200": {
            "description": "SSE event stream. Events: connected, network, ws_open, ws_message, ws_close, dom, console, error, done.",
            "content": {
              "text/event-stream": {
                "schema": { "type": "string" },
                "example": "event: connected\ndata: {\"type\":\"connected\",\"url\":\"https://example.com\",\"agent_id\":\"scraping-us5\"}\n\nevent: ws_message\ndata: {\"type\":\"ws_message\",\"data\":\"{\\\"price\\\":1.95}\",\"ws_id\":\"1234\"}\n\n"
              }
            }
          },
          "401": { "description": "Missing API key." },
          "403": { "description": "Invalid API key." },
          "429": { "description": "Rate limit exceeded." },
          "502": { "description": "No healthy agent available." }
        }
      }
    },
    "/amqp": {
      "post": {
        "operationId": "amqp_consume",
        "summary": "AMQP consumer relay (SSE)",
        "description": "Connect to an AMQP/RabbitMQ broker through an agent and stream messages as Server-Sent Events. The agent creates a temporary auto-delete queue, binds it to the specified exchange, and streams messages back as SSE events (connected, message, error).",
        "tags": ["AMQP"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AmqpConsumeBody" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of AMQP messages. Events: connected, message, error.",
            "content": {
              "text/event-stream": {
                "schema": { "type": "string" }
              }
            }
          },
          "401": { "description": "Missing API key." },
          "403": { "description": "Invalid API key." },
          "429": { "description": "Rate limit exceeded." },
          "502": { "description": "No healthy agent available." }
        }
      }
    },
    "/usage": {
      "get": {
        "operationId": "get_usage",
        "summary": "Usage metrics",
        "description": "Per-key usage metrics: request counts, success/fail rates, bytes transferred, protocol breakdown, and top domains.",
        "tags": ["Usage"],
        "responses": {
          "200": {
            "description": "Usage metrics for the authenticated API key.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UsageResponse" }
              }
            }
          },
          "401": { "description": "Missing or invalid API key." },
          "403": { "description": "Invalid API key." }
        }
      }
    },
    "/network/agents": {
      "get": {
        "operationId": "list_agents",
        "summary": "List all agents",
        "description": "Returns the full agent registry with slug, name, and country for each agent.",
        "tags": ["Network"],
        "responses": {
          "200": {
            "description": "Agent list.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AgentListResponse" }
              }
            }
          },
          "401": { "description": "Missing or invalid API key." }
        }
      }
    },
    "/network/status": {
      "get": {
        "operationId": "network_status",
        "summary": "Network status",
        "description": "Summary of total nodes and nodes per country.",
        "tags": ["Network"],
        "responses": {
          "200": {
            "description": "Network summary.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NetworkStatusResponse" }
              }
            }
          },
          "401": { "description": "Missing or invalid API key." }
        }
      }
    },
    "/network/geo": {
      "get": {
        "operationId": "network_geo",
        "summary": "Agents by country",
        "description": "Agents grouped by country with slugs listed for each.",
        "tags": ["Network"],
        "responses": {
          "200": {
            "description": "Agents grouped by country.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NetworkGeoResponse" }
              }
            }
          },
          "401": { "description": "Missing or invalid API key." }
        }
      }
    },
    "/network/health/{domain}": {
      "get": {
        "operationId": "domain_health",
        "summary": "Domain health",
        "description": "Per-agent health state for a specific domain. Shows which agents are healthy, soft-blocked, or hard-blocked.",
        "tags": ["Network"],
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Domain to check (e.g. example.com).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Domain health report.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DomainHealthResponse" }
              }
            }
          },
          "401": { "description": "Missing or invalid API key." }
        }
      }
    },
    "/debug/pick": {
      "get": {
        "operationId": "debug_pick",
        "summary": "Debug agent selection",
        "description": "Preview which agent would be selected for a given URL without making the actual request.",
        "tags": ["Debug"],
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "Target URL to simulate agent selection for.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/XGeo" },
          { "$ref": "#/components/parameters/XAgent" },
          { "$ref": "#/components/parameters/XExpectJSON" }
        ],
        "responses": {
          "200": {
            "description": "Selected agent info.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DebugPickResponse" }
              }
            }
          },
          "401": { "description": "Missing or invalid API key." }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key passed in the X-API-Key header."
      }
    },
    "schemas": {
      "MetaInfo": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTP status code from the origin."
          },
          "final_url": {
            "type": "string",
            "description": "Final URL after any redirects."
          },
          "http_version": {
            "type": "string",
            "description": "HTTP version used (e.g. HTTP/2)."
          },
          "elapsed_ms": {
            "type": "integer",
            "description": "Round-trip time in milliseconds."
          },
          "blocked": {
            "type": "boolean",
            "description": "true if bot detection patterns were found in the response."
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Response headers from the origin."
          },
          "agent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Node ID that served the request, e.g. scraping-de1."
              }
            }
          },
          "bytes": {
            "type": "integer",
            "description": "Response body size in bytes."
          }
        }
      },
      "FetchResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInfo"
          },
          "raw": {
            "type": "string",
            "nullable": true,
            "description": "Response body as text (when not JSON)."
          },
          "raw_json": {
            "nullable": true,
            "description": "Parsed JSON body (when response is valid JSON, otherwise null)."
          }
        }
      },
      "FetchPostBody": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "description": "Override HTTP method (e.g. POST, PUT). Defaults to the request's own method."
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Custom headers to send to the target origin."
          },
          "body": {
            "type": "string",
            "description": "Request body to send to the target origin."
          },
          "timeout": {
            "type": "number",
            "description": "Request timeout in seconds. Default: 30."
          },
          "allow_redirects": {
            "type": "boolean",
            "description": "Follow redirects. Default: true."
          }
        }
      },
      "BrowserCookie": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "description": "Cookie name." },
          "value": { "type": "string", "description": "Cookie value." },
          "domain": { "type": "string", "description": "Cookie domain (e.g. .example.com)." },
          "path": { "type": "string", "default": "/", "description": "Cookie path." },
          "secure": { "type": "boolean", "default": false, "description": "Secure flag." },
          "httpOnly": { "type": "boolean", "default": false, "description": "HttpOnly flag." },
          "sameSite": { "type": "string", "default": "Lax", "description": "SameSite attribute (Strict, Lax, None)." },
          "expires": { "type": "number", "default": 0, "description": "Expiry as Unix epoch. 0 = session cookie." }
        }
      },
      "BrowserFetchBody": {
        "type": "object",
        "required": ["apiKey", "url"],
        "properties": {
          "apiKey": {
            "type": "string",
            "description": "API key for authentication."
          },
          "url": {
            "type": "string",
            "description": "Target URL to render."
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Extra HTTP headers sent with the page request."
          },
          "cookies": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BrowserCookie" },
            "description": "Cookies to inject before navigation."
          },
          "waitStrategy": {
            "type": "string",
            "enum": ["load", "networkidle", "selector"],
            "default": "load",
            "description": "When the page is considered ready. load = DOMContentLoaded, networkidle = no pending requests, selector = wait for CSS selector."
          },
          "waitSelector": {
            "type": "string",
            "default": "",
            "description": "CSS selector to wait for (only with waitStrategy: selector)."
          },
          "timeout": {
            "type": "number",
            "default": 30,
            "description": "Overall timeout in seconds (max 120). Browser startup adds ~2-5s."
          },
          "jsExpression": {
            "type": "string",
            "default": "",
            "description": "JavaScript to evaluate after the page is ready. The return value is available in js_result."
          },
          "screenshot": {
            "type": "boolean",
            "default": false,
            "description": "Capture a full-page PNG screenshot (returned as base64 in the response)."
          },
          "viewportWidth": {
            "type": "integer",
            "default": 1440,
            "description": "Browser viewport width in pixels."
          },
          "viewportHeight": {
            "type": "integer",
            "default": 900,
            "description": "Browser viewport height in pixels."
          },
          "blockResources": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Resource types to block during loading: image, font, stylesheet, media. Speeds up rendering."
          },
          "proxy": {
            "type": "string",
            "default": "",
            "description": "Route through a proxy (http:// or socks5://). Useful for residential IP routing."
          },
          "expectSelector": {
            "type": "string",
            "default": "",
            "description": "CSS selector that must exist in the rendered page. If missing, retries on a different node."
          },
          "expectContains": {
            "type": "string",
            "default": "",
            "description": "Substring that must exist in the page body. If missing, retries on a different node."
          },
          "geo": {
            "type": "string",
            "description": "Country filter for node selection (e.g. US, DE,AT)."
          },
          "agent": {
            "type": "string",
            "description": "Pin to specific node by slug (e.g. de1, us3)."
          }
        }
      },
      "BrowserFetchResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInfo"
          },
          "raw": {
            "type": "string",
            "nullable": true,
            "description": "Rendered page body as text (when not JSON)."
          },
          "raw_json": {
            "nullable": true,
            "description": "Parsed JSON body (when response is valid JSON, otherwise null)."
          },
          "cookies": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BrowserCookie" },
            "description": "All cookies captured during rendering, including httpOnly cookies."
          },
          "screenshot": {
            "type": "string",
            "nullable": true,
            "description": "Base64-encoded full-page PNG screenshot (null if not requested)."
          },
          "js_result": {
            "nullable": true,
            "description": "Return value of jsExpression evaluation (null if not provided)."
          }
        }
      },
      "AmqpConsumeBody": {
        "type": "object",
        "required": ["apiKey", "host"],
        "properties": {
          "apiKey": {
            "type": "string",
            "description": "API key for authentication."
          },
          "host": {
            "type": "string",
            "description": "AMQP broker hostname."
          },
          "port": {
            "type": "integer",
            "default": 5672,
            "description": "Broker port. Use 5671 for SSL."
          },
          "virtual_host": {
            "type": "string",
            "default": "/",
            "description": "AMQP virtual host."
          },
          "username": {
            "type": "string",
            "default": "",
            "description": "AMQP username."
          },
          "password": {
            "type": "string",
            "default": "",
            "description": "AMQP password."
          },
          "exchange": {
            "type": "string",
            "default": "",
            "description": "Exchange to bind to."
          },
          "routing_key": {
            "type": "string",
            "default": "#",
            "description": "Routing key pattern (# = all messages)."
          },
          "queue_prefix": {
            "type": "string",
            "default": "scrape",
            "description": "Prefix for the auto-delete queue name."
          },
          "ssl": {
            "type": "boolean",
            "default": false,
            "description": "Use AMQPS (TLS) connection."
          },
          "heartbeat": {
            "type": "integer",
            "default": 60,
            "description": "AMQP heartbeat interval in seconds."
          },
          "geo": {
            "type": "string",
            "description": "Country filter for agent selection (e.g. DE)."
          },
          "agent": {
            "type": "string",
            "description": "Pin to specific agent by slug (e.g. de1)."
          }
        }
      },
      "UsageResponse": {
        "type": "object",
        "properties": {
          "api_key": { "type": "string" },
          "total": { "type": "integer", "description": "Total requests across all protocols." },
          "success": { "type": "integer", "description": "Successful requests." },
          "fail": { "type": "integer", "description": "Failed requests." },
          "success_rate": { "type": "number", "description": "Success percentage (0-100)." },
          "bytes_transferred": { "type": "integer", "description": "Total response bytes (HTTP fetch only)." },
          "rate_limit": {
            "type": "object",
            "properties": {
              "rps": { "type": "number", "description": "Allowed requests per second." },
              "burst": { "type": "integer", "description": "Burst capacity." },
              "remaining": { "type": "number", "description": "Available tokens now." }
            }
          },
          "by_protocol": {
            "type": "object",
            "properties": {
              "fetch": { "type": "integer" },
              "ws": { "type": "integer" },
              "amqp": { "type": "integer" }
            }
          },
          "top_domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "domain": { "type": "string" },
                "requests": { "type": "integer" }
              }
            },
            "description": "Top 20 domains by request count."
          }
        }
      },
      "AgentListResponse": {
        "type": "object",
        "properties": {
          "total": { "type": "integer" },
          "nodes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "slug": { "type": "string", "description": "Node slug, e.g. de1." },
                "name": { "type": "string", "description": "Full node name, e.g. scraping-de1." },
                "country": { "type": "string", "description": "ISO country code." }
              }
            }
          }
        }
      },
      "NetworkStatusResponse": {
        "type": "object",
        "properties": {
          "total_nodes": { "type": "integer" },
          "total_countries": { "type": "integer" },
          "nodes_by_country": {
            "type": "object",
            "additionalProperties": { "type": "integer" },
            "description": "Node count per ISO country code."
          }
        }
      },
      "NetworkGeoResponse": {
        "type": "object",
        "properties": {
          "total_nodes": { "type": "integer" },
          "total_countries": { "type": "integer" },
          "countries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "country": { "type": "string" },
                "count": { "type": "integer" },
                "nodes": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "DomainHealthResponse": {
        "type": "object",
        "properties": {
          "domain": { "type": "string" },
          "nodes_checked": { "type": "integer" },
          "available": { "type": "integer" },
          "limited": { "type": "integer" },
          "unavailable": { "type": "integer" },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "node_id": { "type": "string" },
                "slug": { "type": "string" },
                "state": { "type": "string", "enum": ["available", "limited", "unavailable"] },
                "rtt_ms": { "type": "integer" },
                "last_check": { "type": "string", "format": "date-time" }
              }
            }
          }
        }
      },
      "DebugPickResponse": {
        "type": "object",
        "properties": {
          "node_id": { "type": "string", "description": "Selected proxy node name." },
          "node_slug": { "type": "string", "description": "Short node slug (e.g. de1)." },
          "country": { "type": "string", "description": "Node country code." },
          "valid_until_epoch_ms": { "type": "integer", "description": "How long this selection is cached (epoch ms)." }
        }
      },
      "HealthzResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": { "type": "string" }
        }
      }
    },
    "parameters": {
      "XTargetURL": {
        "name": "X-Target-URL",
        "in": "header",
        "description": "Target URL (no encoding needed). Recommended for URLs with query parameters.",
        "schema": { "type": "string" }
      },
      "XGeo": {
        "name": "X-Geo",
        "in": "header",
        "description": "Target countries as comma-separated ISO codes (e.g. US,DE,AT). Aliases: X-Geo-CC, X-CC, X-Country, X-Geo-Strict.",
        "schema": { "type": "string" }
      },
      "XExpectJSON": {
        "name": "X-Expect-JSON",
        "in": "header",
        "description": "Set to 1 if expecting a JSON response from the origin.",
        "schema": { "type": "string" }
      },
      "XAgent": {
        "name": "X-Agent",
        "in": "header",
        "description": "Route through specific agent(s) by slug (e.g. de1) or comma-separated list for random pick (e.g. de1,at5,us3).",
        "schema": { "type": "string" }
      },
      "XTimeout": {
        "name": "X-Timeout",
        "in": "header",
        "description": "Override request timeout in seconds (default: 30).",
        "schema": { "type": "string" }
      }
    }
  },
  "security": [
    { "ApiKeyHeader": [] }
  ],
  "tags": [
    { "name": "Fetch", "description": "Proxy HTTP requests through the agent network." },
    { "name": "Browser", "description": "Fetch with full JavaScript rendering, cookies, and screenshots." },
    { "name": "Network", "description": "Agent registry, network status, and domain health." },
    { "name": "AMQP", "description": "AMQP/RabbitMQ consumer relay via SSE." },
    { "name": "Usage", "description": "Per-key usage metrics." },
    { "name": "Debug", "description": "Debug and diagnostic endpoints." },
    { "name": "System", "description": "Health checks and system endpoints." }
  ]
}
