{"openapi":"3.1.0","info":{"title":"MM-V2 Trading API","description":"\n## High-Frequency Market Making Engine API\n\nThis API powers the MM-V2 market making system, providing:\n\n### For Trading Clients\n- **Orders**: View and track orders placed on exchanges (Polymarket, Kalshi, etc.)\n- **Bets**: View hedge bets placed on bookmakers\n- **Fixtures**: Access event/fixture metadata and scores\n- **Positions**: Get aggregated exposure across markets\n\n### For Operations\n- **Emergency Controls**: Cancel all orders, pause/resume trading\n- **Monitoring**: System status, connection health, latency metrics\n- **Real-time Updates**: WebSocket subscriptions for live data\n\n### Authentication\nClient endpoints require the `X-API-Key` header with a valid UUID.\nAdmin endpoints are typically protected at the network level.\n\n### Rate Limits\n- REST API: 100 requests/minute per client\n- WebSocket: 5 connections per API key\n\n### Quick Start\n1. Click **Authorize** button above\n2. Enter your API key (UUID format)\n3. All client endpoints will use this key automatically\n        ","version":"1.0.0"},"servers":[{"url":"https://mmapi.55-tech.com","description":"Production"}],"paths":{"/api/v1/me":{"get":{"tags":["Client API"],"summary":"Get current client info","description":"Returns the authenticated client's information based on their API key.","operationId":"get_me_api_v1_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientInfo"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/orders":{"get":{"tags":["Client API"],"summary":"List orders","description":"Retrieve a paginated list of orders for your client account.\n\n    Orders are sorted by creation date (newest first) and can be filtered by:\n    - **fixture_id**: Filter by specific fixture/event\n    - **exchange**: Filter by exchange (polymarket, kalshi, etc.)\n    - **status**: Filter by order status (PLACED, FILLED, CANCELLED, etc.)\n\n    Use pagination parameters to navigate through large result sets.","operationId":"list_orders_api_v1_orders_get","parameters":[{"name":"fixture_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by fixture ID","title":"Fixture Id"},"description":"Filter by fixture ID"},{"name":"exchange","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exchange (polymarket, kalshi, etc.)","title":"Exchange"},"description":"Filter by exchange (polymarket, kalshi, etc.)"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by order status (PLACED, FILLED, CANCELLED)","title":"Status"},"description":"Filter by order status (PLACED, FILLED, CANCELLED)"},{"name":"from_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter orders created on or after this date (YYYY-MM-DD)","title":"From Date"},"description":"Filter orders created on or after this date (YYYY-MM-DD)"},{"name":"to_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter orders created on or before this date (YYYY-MM-DD)","title":"To Date"},"description":"Filter orders created on or before this date (YYYY-MM-DD)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":2000,"minimum":1,"description":"Items per page (max 2000)","default":50,"title":"Page Size"},"description":"Items per page (max 2000)"}],"responses":{"200":{"description":"Paginated list of orders","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse"},"example":{"data":[{"orderId":123,"fixtureId":"id1604296768235456","outcomeId":161,"exchange":"polymarket","orderStatus":"PLACED","orderStake":100.0,"matchedStake":50.0}],"total":100,"page":1,"page_size":50,"total_pages":2}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/orders/open":{"get":{"tags":["Client API"],"summary":"List open orders","description":"Retrieve all currently open (unfilled) orders for your client account.\n\n    Open orders have status PLACED or PENDING_PLACEMENT and are not yet fully matched.\n    This endpoint does not paginate - it returns all open orders at once.","operationId":"list_open_orders_api_v1_orders_open_get","parameters":[{"name":"fixture_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by fixture ID","title":"Fixture Id"},"description":"Filter by fixture ID"},{"name":"exchange","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exchange","title":"Exchange"},"description":"Filter by exchange"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response List Open Orders Api V1 Orders Open Get"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/orders/{order_id}":{"get":{"tags":["Client API"],"summary":"Get order details","description":"Retrieve detailed information about a specific order by its ID.","operationId":"get_order_api_v1_orders__order_id__get","parameters":[{"name":"order_id","in":"path","required":true,"schema":{"type":"integer","title":"Order Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Order Api V1 Orders  Order Id  Get"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/orders/summary":{"get":{"tags":["Client API"],"summary":"Get orders summary","description":"Get aggregated statistics about all orders for your client account.\n\n    Optionally filter by date range to see statistics for a specific time period.","operationId":"get_orders_summary_api_v1_orders_summary_get","parameters":[{"name":"from_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter orders created on or after this date (YYYY-MM-DD)","title":"From Date"},"description":"Filter orders created on or after this date (YYYY-MM-DD)"},{"name":"to_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter orders created on or before this date (YYYY-MM-DD)","title":"To Date"},"description":"Filter orders created on or before this date (YYYY-MM-DD)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderSummary"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/bets":{"get":{"tags":["Client API"],"summary":"List bets","description":"Retrieve a paginated list of hedge bets placed on your behalf.\n\n    Bets are created when orders are matched on exchanges. They represent\n    the hedging activity on the bookmaker side.\n\n    Filter by:\n    - **order_id**: Get bets for a specific order\n    - **bookmaker**: Filter by bookmaker (vertex, pinnacle, demo)\n    - **status**: Filter by bet status - supports comma-separated values (e.g., `placed,pending`)\n      - `placed`: Successfully placed bets\n      - `pending`: Bets awaiting confirmation\n      - `declined`: Rejected bets","operationId":"list_bets_api_v1_bets_get","parameters":[{"name":"order_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by order ID","title":"Order Id"},"description":"Filter by order ID"},{"name":"bookmaker","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by bookmaker (vertex, pinnacle, demo)","title":"Bookmaker"},"description":"Filter by bookmaker (vertex, pinnacle, demo)"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by bet status - comma-separated (e.g., 'placed,pending')","title":"Status"},"description":"Filter by bet status - comma-separated (e.g., 'placed,pending')"},{"name":"from_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter bets created on or after this date (YYYY-MM-DD)","title":"From Date"},"description":"Filter bets created on or after this date (YYYY-MM-DD)"},{"name":"to_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter bets created on or before this date (YYYY-MM-DD)","title":"To Date"},"description":"Filter bets created on or before this date (YYYY-MM-DD)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":2000,"minimum":1,"description":"Items per page (max 2000)","default":50,"title":"Page Size"},"description":"Items per page (max 2000)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/bets/summary":{"get":{"tags":["Client API"],"summary":"Get bets summary","description":"Get aggregated statistics about all bets for your client account.\n\n    Optionally filter by date range to see statistics for a specific time period.","operationId":"get_bets_summary_api_v1_bets_summary_get","parameters":[{"name":"from_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter bets created on or after this date (YYYY-MM-DD)","title":"From Date"},"description":"Filter bets created on or after this date (YYYY-MM-DD)"},{"name":"to_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter bets created on or before this date (YYYY-MM-DD)","title":"To Date"},"description":"Filter bets created on or before this date (YYYY-MM-DD)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BetSummary"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/bets/{bet_id}":{"get":{"tags":["Client API"],"summary":"Get bet details","description":"Retrieve detailed information about a specific bet by its ID.","operationId":"get_bet_api_v1_bets__bet_id__get","parameters":[{"name":"bet_id","in":"path","required":true,"schema":{"type":"integer","title":"Bet Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Get Bet Api V1 Bets  Bet Id  Get"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/fixtures":{"get":{"tags":["Client API"],"summary":"List fixtures","description":"Retrieve a paginated list of fixtures (events/matches).\n\n    Fixtures contain event metadata like participants, start time, and scores.\n\n    Filter by:\n    - **fixtureIds**: Filter by specific fixture IDs (repeated query param)\n    - **tournament_id**: Filter by tournament (e.g., 234 for NHL)\n    - **sport_id**: Filter by sport (e.g., 1 for Soccer)\n    - **live**: Filter by live status (true/false)\n    - **all**: Set to true to see all available fixtures (not just ones with your orders)","operationId":"list_fixtures_api_v1_fixtures_get","parameters":[{"name":"fixtureIds","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Filter by fixture IDs","title":"Fixtureids"},"description":"Filter by fixture IDs"},{"name":"tournament_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by tournament ID","title":"Tournament Id"},"description":"Filter by tournament ID"},{"name":"sport_id","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Filter by sport ID","title":"Sport Id"},"description":"Filter by sport ID"},{"name":"live","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by live status","title":"Live"},"description":"Filter by live status"},{"name":"all","in":"query","required":false,"schema":{"type":"boolean","description":"Include all fixtures, not just ones with your orders","default":false,"title":"All"},"description":"Include all fixtures, not just ones with your orders"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number (1-indexed)","default":1,"title":"Page"},"description":"Page number (1-indexed)"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":2000,"minimum":1,"description":"Items per page (max 2000)","default":50,"title":"Page Size"},"description":"Items per page (max 2000)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResponse"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/markets":{"get":{"tags":["Client API"],"summary":"List markets for sport","description":"Get available markets for a sport from cached odds data.\n\n    **Note:** Markets are global reference data - they describe what market types\n    exist (1x2, Over/Under, etc.) and are not specific to any client. All clients\n    see the same market definitions.\n\n    Markets are aggregated from all active fixtures for the specified sport.\n\n    **Required:**\n    - **sportId**: Get markets for a sport (e.g., 1=Soccer, 14=Ice Hockey)\n\n    **Response fields:**\n    - `marketId`: Market identifier\n    - `outcomeIds`: List of outcome IDs available for this market\n    - `playerIds`: List of player IDs (for player prop markets)\n    - `bookmakers`: Bookmakers offering this market","operationId":"list_markets_api_v1_markets_get","parameters":[{"name":"sportId","in":"query","required":true,"schema":{"type":"integer","description":"Sport ID (required)","title":"Sportid"},"description":"Sport ID (required)"}],"responses":{"200":{"description":"Markets from cache","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response List Markets Api V1 Markets Get"},"example":{"markets":[{"marketId":1,"outcomeIds":[1,2,3],"playerIds":[],"bookmakers":["pinnacle"]}],"count":1}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/players":{"get":{"tags":["Client API"],"summary":"List players for sport","description":"Get players for a sport from cached odds data.\n\n    **Note:** Players are global reference data - they describe what players\n    have prop markets available. All clients see the same player data.\n\n    Players are aggregated from all active fixtures for the specified sport\n    where playerId > 0 (player prop markets).\n\n    **Required:**\n    - **sportId**: Get players for a sport (e.g., 1=Soccer, 14=Ice Hockey)\n\n    **Response fields:**\n    - `playerId`: Player identifier\n    - `marketIds`: Markets this player has props in\n    - `outcomeIds`: Outcome IDs for this player\n    - `bookmakers`: Bookmakers offering props for this player","operationId":"list_players_api_v1_players_get","parameters":[{"name":"sportId","in":"query","required":true,"schema":{"type":"integer","description":"Sport ID (required)","title":"Sportid"},"description":"Sport ID (required)"}],"responses":{"200":{"description":"Players from cache","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response List Players Api V1 Players Get"},"example":{"players":[{"playerId":847392,"marketIds":[18,19],"outcomeIds":[161,162],"bookmakers":["pinnacle"]}],"count":1}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/positions":{"get":{"tags":["Client API"],"summary":"List positions","description":"Get aggregated positions for your client account.\n\n    A position aggregates all orders for a specific fixture/outcome/exchange combination,\n    showing total stake, matched stake, and open stake.\n\n    This gives you a consolidated view of your exposure on each market.\n\n    **Status filters** (supports comma-separated values, e.g., `open,matched`):\n    - `open`: Only positions with open orders (still on exchange, not fully matched)\n    - `matched`: Only positions with matched stake > 0 (excludes cancelled)\n    - `filled`: Only fully matched orders\n    - `cancelled`: Only cancelled orders\n    - `active`: Exclude cancelled orders (default)\n\n    Examples:\n    - `/positions?status=open` - Only open positions\n    - `/positions?status=open,matched` - Open or matched positions\n    - `/positions?status=filled` - Only filled positions\n\n    Optionally filter by date range to see positions from a specific time period.","operationId":"list_positions_api_v1_positions_get","parameters":[{"name":"fixture_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by fixture ID","title":"Fixture Id"},"description":"Filter by fixture ID"},{"name":"exchange","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exchange","title":"Exchange"},"description":"Filter by exchange"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by status - comma-separated (e.g., 'open,matched'). Options: open, matched, filled, cancelled, active","default":"active","title":"Status"},"description":"Filter by status - comma-separated (e.g., 'open,matched'). Options: open, matched, filled, cancelled, active"},{"name":"from_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter positions from orders created on or after this date (YYYY-MM-DD)","title":"From Date"},"description":"Filter positions from orders created on or after this date (YYYY-MM-DD)"},{"name":"to_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter positions from orders created on or before this date (YYYY-MM-DD)","title":"To Date"},"description":"Filter positions from orders created on or before this date (YYYY-MM-DD)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response List Positions Api V1 Positions Get"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/positions/summary":{"get":{"tags":["Client API"],"summary":"Get positions summary","description":"Get aggregated statistics about all positions for your client account.\n\n    Optionally filter by date range to see statistics for a specific time period.","operationId":"get_positions_summary_api_v1_positions_summary_get","parameters":[{"name":"from_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter from orders created on or after this date (YYYY-MM-DD)","title":"From Date"},"description":"Filter from orders created on or after this date (YYYY-MM-DD)"},{"name":"to_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter from orders created on or before this date (YYYY-MM-DD)","title":"To Date"},"description":"Filter from orders created on or before this date (YYYY-MM-DD)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderSummary"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/pnl":{"get":{"tags":["Client API"],"summary":"Get profit and loss","description":"Get profit and loss (PnL) statistics for your client account.\n\n    **Realized PnL**: Profit/loss from settled orders\n    - WON orders: profit = matchedStake * (1/probability - 1)\n    - LOST orders: loss = -matchedStake\n    - HALF_WON/HALF_LOST: 50% of the above\n\n    **Unrealized PnL**: Potential profit from open positions (if they win)\n    - Calculated as: matchedStake * (1/probability - 1) for all unsettled matched orders\n\n    Optionally filter by date range to see PnL for a specific time period.","operationId":"get_pnl_api_v1_pnl_get","parameters":[{"name":"from_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter orders created on or after this date (YYYY-MM-DD)","title":"From Date"},"description":"Filter orders created on or after this date (YYYY-MM-DD)"},{"name":"to_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filter orders created on or before this date (YYYY-MM-DD)","title":"To Date"},"description":"Filter orders created on or before this date (YYYY-MM-DD)"}],"responses":{"200":{"description":"PnL statistics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PnLResponse"},"example":{"pnl":54514.93,"realized_pnl":50000.0,"unrealized_pnl":4514.93,"total_matched_stake":100000.0,"settled_count":150,"unsettled_count":25,"from_date":"2026-01-29","to_date":"2026-02-01"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/accounts":{"get":{"tags":["Client API"],"summary":"List accounts","description":"List exchange accounts configured for your client.\n\n    Returns account metadata without sensitive credentials.\n    Shows which exchanges you have accounts on and their configuration.","operationId":"list_accounts_api_v1_accounts_get","parameters":[{"name":"exchange","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exchange","title":"Exchange"},"description":"Filter by exchange"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response List Accounts Api V1 Accounts Get"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/orders/cancel-all":{"post":{"tags":["Client API"],"summary":"Cancel all open orders","description":"Cancel ALL open orders for your client account across all exchanges.\n\n    **Use with caution** - this will cancel every open order you have.\n\n    Optionally filter by:\n    - **exchange**: Only cancel orders on a specific exchange\n    - **fixture_id**: Only cancel orders for a specific fixture","operationId":"cancel_all_client_orders_api_v1_orders_cancel_all_post","parameters":[{"name":"exchange","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by exchange","title":"Exchange"},"description":"Filter by exchange"},{"name":"fixture_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by fixture ID","title":"Fixture Id"},"description":"Filter by fixture ID"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel All Client Orders Api V1 Orders Cancel All Post"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/api/v1/orders/{order_id}/cancel":{"post":{"tags":["Client API"],"summary":"Cancel a specific order","description":"Cancel a specific order by its ID.","operationId":"cancel_order_api_v1_orders__order_id__cancel_post","parameters":[{"name":"order_id","in":"path","required":true,"schema":{"type":"integer","title":"Order Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Cancel Order Api V1 Orders  Order Id  Cancel Post"}}}},"401":{"description":"Invalid or missing API key"},"404":{"description":"Resource not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKeyAuth":[]}]}},"/health":{"get":{"tags":["Status & Monitoring"],"summary":"Health check","description":"Basic health check for container orchestration (Kubernetes liveness probe).","operationId":"health_check_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Health Check Health Get"}}}}}}},"/ready":{"get":{"tags":["Status & Monitoring"],"summary":"Readiness check","description":"Readiness check for container orchestration (Kubernetes readiness probe). Verifies all dependencies are available.","operationId":"readiness_check_ready_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Readiness Check Ready Get"}}}}}}},"/metrics":{"get":{"tags":["Status & Monitoring"],"summary":"Prometheus metrics","description":"Prometheus-format metrics endpoint for monitoring.","operationId":"metrics_metrics_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/ws/subscribe":{"get":{"tags":["WebSocket"],"summary":"Real-time Subscription (WebSocket)","description":"## Real-time Data Subscription (WebSocket)\n\n**URL:** `ws://localhost:8081/ws/subscribe`\n\n**Connection Limits:** Maximum 5 concurrent connections per API key.\n\n### Protocol\n\n1. **Connect** to `/ws/subscribe`\n\n2. **Subscribe** (within 30 seconds):\n```json\n{\n  \"type\": \"subscribe\",\n  \"api_key\": \"your-client-api-key-uuid\",\n  \"channels\": [\"orders\", \"bets\", \"accounts\", \"scores\", \"emergency\"]\n}\n```\n\n3. **Confirmation**:\n```json\n{\"type\": \"subscribed\", \"subscription_id\": 1, \"channels\": [\"orders\", \"bets\"]}\n```\n\n4. **Receive broadcasts**:\n```json\n{\n  \"type\": \"broadcast\",\n  \"channel\": \"orders\",\n  \"event\": \"UPDATE\",\n  \"payload\": {\"id\": 123, \"orderStatus\": \"FILLED\"},\n  \"old\": {\"orderStatus\": \"PLACED\"}\n}\n```\n\n5. **Keep-alive**: Send `{\"type\": \"ping\"}` → Receive `{\"type\": \"pong\"}`\n\n6. **Heartbeat**: Server sends `{\"type\": \"heartbeat\"}` every 60s\n\n7. **Unsubscribe**: Send `{\"type\": \"unsubscribe\"}`\n\n### Channels\n\n| Channel | Description | Filtered |\n|---------|-------------|----------|\n| `orders` | Order placement, updates, fills | By client |\n| `bets` | Hedge bet updates | By client |\n| `accounts` | Balance changes | By client |\n| `scores` | Live score updates | Global |\n| `emergency` | Emergency mode status | Global |\n\n### Error Codes\n\n- `api_key required` - Missing api_key\n- `Invalid api_key format` - Must be UUID\n- `Invalid API key` - Not found or inactive\n- `Connection limit exceeded` - Max 5 per API key","operationId":"websocket_subscribe_docs_ws_subscribe_get","responses":{"200":{"description":"Returns 426 - use WebSocket connection instead","content":{"application/json":{"schema":{}}}},"426":{"description":"Upgrade Required - Connect via WebSocket","content":{"application/json":{"example":{"detail":"This endpoint requires a WebSocket connection. Use ws://host:port/ws/subscribe"}}}}}}},"/ws/subscribe/stats":{"get":{"tags":["WebSocket"],"summary":"WebSocket subscription statistics","description":"Get statistics about active WebSocket subscriptions.","operationId":"websocket_subscribe_stats_ws_subscribe_stats_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Websocket Subscribe Stats Ws Subscribe Stats Get"}}}}}}},"/emergency/trigger":{"post":{"tags":["Emergency Controls"],"summary":"[ADMIN] Trigger system-wide emergency","description":"**⚠️ ADMIN ONLY - AFFECTS ALL CLIENTS**\n\n        **CAUTION: This will cancel ALL open orders for ALL clients across ALL exchanges.**\n\n        Trigger system-wide emergency mode from an external source (monitoring system, dashboard, etc.).\n        This is useful for:\n        - Dashboard \"kill switch\" button\n        - External monitoring detecting issues\n        - Manual intervention from operations team\n\n        When triggered:\n        1. All new order placement is stopped FOR ALL CLIENTS\n        2. All open orders are cancelled on all exchanges FOR ALL CLIENTS\n        3. System enters emergency mode\n\n        To recover, use `/emergency/resume` after resolving the issue.\n\n        **For client-specific cancellation, use `/api/v1/orders/cancel-all` instead.**","operationId":"emergency_trigger_external_emergency_trigger_post","parameters":[{"name":"X-Admin-Key","in":"header","required":true,"schema":{"type":"string","description":"Admin API key for emergency operations","title":"X-Admin-Key"},"description":"Admin API key for emergency operations"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmergencyTriggerRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmergencyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/emergency/pause":{"post":{"tags":["Emergency Controls"],"summary":"[ADMIN] Pause all trading system-wide","description":"**⚠️ ADMIN ONLY - AFFECTS ALL CLIENTS**\n\n        Pause all trading activity for ALL clients.\n\n        Unlike cancel-all, this only stops NEW orders from being placed.\n        Existing orders remain on the exchanges but no new orders will be placed.\n\n        Use `/emergency/resume` to resume trading.","operationId":"emergency_pause_emergency_pause_post","parameters":[{"name":"X-Admin-Key","in":"header","required":true,"schema":{"type":"string","description":"Admin API key for emergency operations","title":"X-Admin-Key"},"description":"Admin API key for emergency operations"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmergencyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/emergency/resume":{"post":{"tags":["Emergency Controls"],"summary":"[ADMIN] Resume trading","description":"**⚠️ ADMIN ONLY**\n\n        Resume trading after emergency/pause.\n\n        This will:\n        1. Clear emergency mode\n        2. Reload initial snapshots from OddsPAPI REST API\n        3. Resume normal order processing\n\n        Only call this after the underlying issue has been resolved.","operationId":"emergency_resume_emergency_resume_post","parameters":[{"name":"X-Admin-Key","in":"header","required":true,"schema":{"type":"string","description":"Admin API key for emergency operations","title":"X-Admin-Key"},"description":"Admin API key for emergency operations"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmergencyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/emergency/status":{"get":{"tags":["Emergency Controls"],"summary":"Get emergency status","description":"Check current emergency mode status without triggering any action.","operationId":"emergency_status_emergency_status_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmergencyResponse"}}}}}}},"/status":{"get":{"tags":["Status & Monitoring"],"summary":"Full system status","description":"Get comprehensive system status including trading state, connections, and exchange status.","operationId":"get_status_status_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Get Status Status Get"}}}}}}},"/status/subscriptions":{"get":{"tags":["Status & Monitoring"],"summary":"WebSocket subscriptions","description":"List all active WebSocket subscriptions.","operationId":"get_subscriptions_status_subscriptions_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Get Subscriptions Status Subscriptions Get"}}}}}}},"/status/latency":{"get":{"tags":["Status & Monitoring"],"summary":"Latency metrics","description":"Get latency metrics for OddsPAPI and exchange connections.","operationId":"get_latency_status_latency_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Get Latency Status Latency Get"}}}}}}},"/config":{"get":{"tags":["Configuration"],"summary":"Current configuration","description":"Get current system configuration (non-sensitive values only).","operationId":"get_config_config_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Get Config Config Get"}}}}}}}},"components":{"schemas":{"BetSummary":{"properties":{"total_bets":{"type":"integer","title":"Total Bets","description":"Total number of bets"},"order_count":{"type":"integer","title":"Order Count","description":"Number of unique orders"},"bookmaker_count":{"type":"integer","title":"Bookmaker Count","description":"Number of unique bookmakers"},"total_stake":{"type":"number","title":"Total Stake","description":"Sum of all bet stakes"},"avg_price":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Price","description":"Average bet price"},"placed_count":{"type":"integer","title":"Placed Count","description":"Number of placed bets"},"pending_count":{"type":"integer","title":"Pending Count","description":"Number of pending bets"},"declined_count":{"type":"integer","title":"Declined Count","description":"Number of declined bets"},"won_count":{"type":"integer","title":"Won Count","description":"Number of won bets"},"lost_count":{"type":"integer","title":"Lost Count","description":"Number of lost bets"}},"type":"object","required":["total_bets","order_count","bookmaker_count","total_stake","avg_price","placed_count","pending_count","declined_count","won_count","lost_count"],"title":"BetSummary","description":"Summary of bet statistics for a client."},"ClientInfo":{"properties":{"client":{"type":"string","title":"Client","description":"Client identifier (e.g., 'demo', 'pinnacle')"},"clientName":{"type":"string","title":"Clientname","description":"Client display name (e.g., 'Demo', 'Pinnacle')"}},"type":"object","required":["client","clientName"],"title":"ClientInfo","description":"Client information from API key lookup."},"EmergencyResponse":{"properties":{"status":{"type":"string","title":"Status","description":"Operation result status"},"trading_blocked":{"type":"boolean","title":"Trading Blocked","description":"Whether trading is blocked (emergency OR pause)"},"emergency_active":{"type":"boolean","title":"Emergency Active","description":"Whether FULL emergency is active (requires manual resume)"},"paused":{"type":"boolean","title":"Paused","description":"Whether soft pause is active (auto-recovers)"},"reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Reason","description":"Emergency/pause reason if active"},"duration_seconds":{"type":"number","title":"Duration Seconds","description":"How long emergency/pause has been active"},"timestamp":{"type":"string","title":"Timestamp","description":"ISO timestamp of the operation"}},"type":"object","required":["status","trading_blocked","emergency_active","paused","reason","duration_seconds","timestamp"],"title":"EmergencyResponse","description":"Response for emergency operations."},"EmergencyTriggerRequest":{"properties":{"reason":{"type":"string","title":"Reason","description":"Reason for triggering emergency mode","default":"external_trigger","example":"High latency detected from monitoring"},"exchange":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exchange","description":"Specific exchange to cancel orders on (null = all exchanges)","example":"polymarket"}},"type":"object","title":"EmergencyTriggerRequest","description":"Request body for emergency trigger."},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"OrderSummary":{"properties":{"total_orders":{"type":"integer","title":"Total Orders","description":"Total number of orders"},"fixture_count":{"type":"integer","title":"Fixture Count","description":"Number of unique fixtures"},"exchange_count":{"type":"integer","title":"Exchange Count","description":"Number of unique exchanges"},"total_stake":{"type":"number","title":"Total Stake","description":"Sum of all order stakes"},"total_matched":{"type":"number","title":"Total Matched","description":"Sum of all matched stakes"},"total_open":{"type":"number","title":"Total Open","description":"Sum of open (unmatched) stakes"},"filled_count":{"type":"integer","title":"Filled Count","description":"Number of filled orders"},"cancelled_count":{"type":"integer","title":"Cancelled Count","description":"Number of cancelled orders"},"open_count":{"type":"integer","title":"Open Count","description":"Number of open orders"}},"type":"object","required":["total_orders","fixture_count","exchange_count","total_stake","total_matched","total_open","filled_count","cancelled_count","open_count"],"title":"OrderSummary","description":"Summary of order statistics for a client."},"PaginatedResponse":{"properties":{"data":{"items":{},"type":"array","title":"Data","description":"List of items for current page"},"total":{"type":"integer","title":"Total","description":"Total number of items across all pages"},"page":{"type":"integer","title":"Page","description":"Current page number (1-indexed)"},"page_size":{"type":"integer","title":"Page Size","description":"Number of items per page"},"total_pages":{"type":"integer","title":"Total Pages","description":"Total number of pages"}},"type":"object","required":["data","total","page","page_size","total_pages"],"title":"PaginatedResponse","description":"Paginated response wrapper for list endpoints."},"PnLResponse":{"properties":{"pnl":{"type":"number","title":"Pnl","description":"Total PnL (realized + unrealized)"},"realized_pnl":{"type":"number","title":"Realized Pnl","description":"PnL from settled orders"},"unrealized_pnl":{"type":"number","title":"Unrealized Pnl","description":"Potential PnL from open positions"},"total_matched_stake":{"type":"number","title":"Total Matched Stake","description":"Total matched stake"},"settled_count":{"type":"integer","title":"Settled Count","description":"Number of settled orders"},"unsettled_count":{"type":"integer","title":"Unsettled Count","description":"Number of unsettled orders with matches"},"from_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"From Date","description":"Start date filter (if applied)"},"to_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"To Date","description":"End date filter (if applied)"}},"type":"object","required":["pnl","realized_pnl","unrealized_pnl","total_matched_stake","settled_count","unsettled_count","from_date","to_date"],"title":"PnLResponse","description":"Profit and Loss response for a client."},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key","description":"Client API key (UUID format). Get your key from the admin dashboard."}}},"tags":[{"name":"Client API","description":"Endpoints for trading clients to access orders, bets, fixtures, and positions. Requires `X-API-Key` header authentication."},{"name":"Emergency Controls","description":"**ADMIN ONLY** - System-wide emergency controls affecting ALL clients. For client-specific cancellation, use `/api/v1/orders/cancel-all`."},{"name":"Status & Monitoring","description":"System status, health checks, latency metrics, and connection status."},{"name":"WebSocket","description":"Real-time data subscriptions for orders, bets, accounts, and scores."},{"name":"Configuration","description":"View current system configuration (non-sensitive values only)."}]}